  <ng-container body>
    <form [formGroup]="filterForm">
      <div class="mb-2">
        <label ui-label for="name">Nome</label>
        <input ui-input type="text" id="name" formControlName="name" autocomplete="off" placeholder="Digite o nome do produto">
      </div>
      <div class="mb-2">
        <label ui-label for="priceMin">Preço Mínimo</label>
        <input ui-input type="text" prefix="R$ "mask="separator" [decimalMarker]="','" [allowNegativeNumbers]="true" id="priceMin" formControlName="priceMin" autocomplete="off" placeholder="Digite o valor mínimo produto">
      </div>
      <div class="mb-2">
        <label ui-label for="priceMax">Preço Máximo</label>
        <input ui-input type="text" prefix="R$ "mask="separator" [decimalMarker]="','" [allowNegativeNumbers]="true" id="priceMax" formControlName="priceMax" autocomplete="off" placeholder="Digite o valor máximo do produto">
      </div>
      <div class="mb-2">
        <label ui-label for="stock">Estoque Disponível</label>
        <input ui-input  mask="0000" [allowNegativeNumbers]="true" type="text" id="stock" formControlName="stock" autocomplete="off" placeholder="Digite o valor do estoque disponível">
      </div>
      <div class="mb-2">
        <label ui-label for="active">Status</label>
        <select  ui-select formControlName="active" id="active">
          <option [value]="null">Selecione um status</option>
          <option [value]="true">Habilitado</option>
          <option [value]="false">Desabilitado</option>
        </select>
      </div>
      <div class="flex justify-between mt-6">
        <button (click)="search()" ui-primary (submit)="search()" class="w-[45%]">Pesquisar</button>
        <button (click)="clearFilters()" ui-secondary class="w-[45%]">Limpar</button>
      </div>
    </form>
  </ng-container>