<div class="grid grid-cols-1 p-4">
  <div class="flex justify-between">
    <h3 class="md:text-2xl sm:text-lg">Categorias</h3>
    <div class="flex">
      <button ui-primary (click)="displayModalCreateCategory(createCategory, null)">Novo</button>
      <ui-button-icon (click)="displaySideModal(filterCategory)" [loadAction]="isLoadingButton" class="ml-2 outline-none"></ui-button-icon>
    </div>
  </div>
  <div class="mt-4">
    <ui-table [footer]="true" [empty]="true" [loadEvent$]="loadPageCategoryEvent$">
      <ng-container thead>
        <tr>
          <th>Nome</th>
          <th class="text-center">Ações</th>
        </tr>
      </ng-container>
      <ng-container tbody>
        @for (category of categoryList; track $index) {
          <tr>
            <td class="truncate max-w-28"><a (click)="navigateCategoryDetail(category)" ui-link href="javascript:void(0)">{{category.name}}</a> 
              @if (!category.active) {
                <span ui-badge-danger class="ml-2">Desabilitado</span>
              }
            </td>
            <td class="text-center">
              <ui-dropdown text="Opções">
                <<ng-container link>
                  <li><a (click)="navigateCategoryDetail(category)" href="javascript:void(0)">Detalhes</a></li>
                  <li><a (click)="displayModalCreateCategory(createCategory, category)" href="javascript:void(0)">Editar</a></li>
                </ng-container>
              </ui-dropdown>
            </td>
          </tr>
        } 
      </ng-container>
      @if(!categoryList?.length && !(this.loadPageCategoryEvent$ | async)) {
        <ng-container empty>
          <app-ui-alert-info class="mt-4"/>
        </ng-container>
      }
      @if(!(loadPageCategoryEvent$ | async) && pagination?.totalElements > size) {
        <ng-container footer>
          <ui-pagination class="p-4 w-full *:flex *:justify-center"
            [pagination]="pagination"
            (nextPageEvent$)="nextPage()" (previousPageEvent$)="previousPage()"
            />
        </ng-container>
      }
    </ui-table>
</div>

<ng-template #filterCategory>
  <app-filter-page-category
    [filter]="filterForm"
    (searchEvent$)="search($event)"
  />
</ng-template>

<ng-template #createCategory>
  <app-create-category
    [category]="categorySelected"
    (finishEvent$)="refresh()"
  />  
</ng-template>

