<div class="container mx-auto p-4 w-full h-80 bg-gray-200">
  <app-ui-card [header]="false" [footer]="false">
    <ng-container body>
      <app-ui-table >
        <ng-container header>
          <thead>
            <tr>
              <th>Song</th>
              <th>Artist</th>
              <th>Year</th>
            </tr>
          </thead>
        </ng-container>
        <ng-container body>
          <tr>
            <td>The Sliding Mr. Bones (Next Stop, Pottersville)</td>
            <td>Malcolm Lockyer</td>
            <td>1961</td>
          </tr>
          <tr>
            <td>Witchy Woman</td>
            <td>The Eagles</td>
            <td>1972</td>
          </tr>
          <tr>
            <td>Shining Star</td>
            <td>Earth, Wind, and Fire</td>
            <td>1975</td>
          </tr>
        </ng-container>
     </app-ui-table>
    </ng-container>
  </app-ui-card>

</div>



<router-outlet></router-outlet>
