<div class="grid grid-cols-1 p-4">
  <div class="flex justify-between">
    <h3 class="md:text-2xl sm:text-lg">Produtos</h3>
    <div class="flex">
      <button ui-primary (click)="displayModalCreateProduct(createProduct, null)">Novo</button>
      <ui-button-icon (click)="displaySideModal(filterProduct)" [loadAction]="isLoadingButton" class="ml-2 outline-none"></ui-button-icon>
    </div>
  </div>
  <div class="mt-4">
    @if (!(loadPageProductEvent$ | async)) {
      <app-product-table [productList]="productList"/>
    }
    @if(!(loadPageProductEvent$ | async) && pagination?.totalElements > size) {
      <ng-container footer>
        <ui-pagination class="p-4 w-full *:flex *:justify-center"
          [pagination]="pagination"
          (nextPageEvent$)="nextPage()" (previousPageEvent$)="previousPage()"
          />
      </ng-container>
    }
</div>

<ng-template #filterProduct>
  <app-filter-page-product
    [filter]="filterForm"
    (searchEvent$)="search($event)"
  />
</ng-template>

<ng-template #createProduct>
  <app-create-product
    [product]="productSelected"
    (finishEvent$)="refresh()"
  />  
</ng-template>


