<div class="container bg-white w-full rounded-lg shadow-sm">
    <div *ngIf="default" class="w-full border-b">
        <ng-content select="[default]"></ng-content>
    </div>
    <div *ngIf="header && !default" class="w-full p-4 border-b">
        <ng-content select="[header]"></ng-content>
    </div>
    <div *ngIf="body && !default" class="w-full p-4">
        <ng-content select="[body]"></ng-content>
    </div>
    <div *ngIf="footer && !default" class="w-full p-4 border-t">
        <ng-content select="[footer]"></ng-content>
    </div>
</div>